title: Just the Thoughts
description: I jot down my thoughts on just about anything
remote_theme: mmistakes/minimal-mistakes@4.24.0
url: https://dchaudh.github.io

include:
  - _pages
  - _posts

defaults:
  # _posts
  - scope:
      path: "_posts"
      type: posts
    values:
      layout: single
      read_time: true
      comments: true
      share: true
      related: true
  # _pages
  - scope:
      path: "_pages"
      type: pages
    values:
      layout: single

      
plugins:
 - jekyll-include-cache
 
